/* Day 11 / 6 / 24 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
    /* letter-spacing: normal;
    font-size: 1.372rem;
    line-height: 1.5495; */
    color: #002f34;
}

a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* navbar 1 */

.navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 6;
    border-bottom: 0 solid #f2f4f5;
}

.navbar .navbar-1 {
    max-width: 1280px;
    /* transition: max-width .25s ease-in;  */
    padding-top: 1rem;
    margin: 0 auto .5rem;
    display: flex;
    align-items: center;
}

.navbar .navbar-1 .item {
    margin-right: 2.5rem;
    display: flex;
    height: 2.5rem;
}

.navbar .navbar-1 .item.hamburger {
    align-items: center;
    display: none;
}

.navbar .navbar-1 .item.hamburger i {
    font-size: 1.3rem;
    color: #002F34;
}

.navbar .navbar-1 .olx-symbol {
    display: flex;
    align-items: center;
}

.navbar .navbar-1 .olx-symbol svg {
    /* width: 5.6rem; */
    height: 2rem;
    fill: #002f34;
}

.navbar .navbar-1 .category .category-div {
    column-gap: 0.5rem;
    color: #002f34;
    fill: #002f34;
    display: flex;
    align-items: center;
}

.navbar .navbar-1 .category .category-div:hover {
    color: #3a77ff;
}

.navbar .navbar-1 .category .category-div:hover .category-image {
    background: #ebf1ff;
}

.navbar .navbar-1 .category .category-div:hover svg {
    fill: #3a77ff;
}

.navbar .navbar-1 .category .category-div .category-image {
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));
    border-radius: 50%;
    padding: .5rem;
}

.navbar .navbar-1 .category .category-div .category-image svg {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar .navbar-1 .category .category-div .category-span {
    font-weight: 700;
    font-size: 0.99rem;
    height: 1.25rem;
}

/* navbar 2 Day 12 / 6 / 24 */

.navbar .navbar-2 {
    max-width: 1280px;
    height: 4.75rem;
    margin: 0 auto;
    display: flex;
    padding: .7rem 0 1rem;
}

/* location dropdown */

.navbar .navbar-2 .location-dropdown {
    width: 18.875rem;
    max-width: 18.875rem;
    /* height: 2.875rem; */
    color: rgb(0, 47, 52);
    font-size: .875rem;
    position: relative;
    margin-right: 1rem;
}

.navbar .navbar-2 .location-dropdown .image {
    position: absolute;
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    fill: #002f34;
}

.navbar .navbar-2 .location-dropdown input {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(216, 223, 224);
    border-radius: 4px;
    outline: none;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(0, 47, 52);
    font-size: 0.9975rem;
    padding: 0 2.5rem 0 2.7rem;
}

.navbar .navbar-2 .location-dropdown input:focus {
    border: .1rem solid #23e5db;
}


.navbar .navbar-2 .location-dropdown .button {
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    fill: #002f34;
}

.navbar .navbar-2 .location-dropdown .button svg {
    height: 24px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 6px 6px 0 rgba(0, 0, 0, .24);
    height: 9.11rem;
    margin-top: 0.1rem;
    display: none;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu.open {
    display: block;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb {
    border-bottom: .01rem solid #ced6d7;
    border-radius: 4px 4px 0 0;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb .item-1 {
    display: flex;
    padding: 1.5rem 1rem;
    column-gap: .5rem;
    color: #3a77ff;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb .item-1 .item-1-text .span-1 {
    font-weight: 700;
    font-size: .9975rem;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb .item-1 .item-1-text .span-2 {
    padding-top: .3rem;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb:hover,
.navbar .navbar-2 .location-dropdown .dropdown-menu .item-2:hover {
    background-color: #c8f8f6;
    cursor: pointer;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-2 {
    display: flex;
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    fill: #5c7a7d;
    column-gap: .5rem;
    color: #002F34;
    align-items: center;
}

/* search bar */

.navbar .navbar-2 .search {
    width: 47.9rem;
    /* height: 2.875rem; */
    position: relative;
}

.navbar .navbar-2 .search input {
    width: 100%;
    height: 100%;
    padding: 0 3.1rem 0 .75rem;
    outline: none;
    border: 1px solid #d8dfe0;
    border-radius: 4px;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 0.9975rem;
    color: #002f34;
}

.navbar .navbar-2 .search input::placeholder {
    color: #757575;
}

.navbar .navbar-2 .search input:focus {
    border: .1rem solid #23e5db;
}

.navbar .navbar-2 .search button {
    background: none;
    border: none;
    background-color: #002f34;
    height: 3.05rem;
    width: 3rem;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
}

.navbar .navbar-2 .search button svg {
    fill: #fff;
}

/* login btn */

.navbar .navbar-2 .login-btn {
    display: flex;
    margin-left: 2rem;
    align-items: center;
}

.navbar .navbar-2 .login-btn a {
    color: rgb(0, 47, 52);
    font-weight: 700;
    border-bottom: 2px solid;
}

/* Day 13 / 6 / 24 */

/* Sell btn */

.navbar .navbar-2 .sell-btn {
    margin-left: 1.25rem;
}

.navbar .navbar-2 .sell-btn button {
    border: none;
    background: none;
    padding: 0;
    position: relative;
}

.navbar .navbar-2 .sell-btn button div {
    position: absolute;
    top: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.navbar .navbar-2 .sell-btn button div img {
    height: 1rem;
}

.navbar .navbar-2 .sell-btn button div span {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(0, 47, 52);
}

.navbar .navbar-3 {
    padding-left: .7rem;
    display: none;
}

.navbar .navbar-3 .location-popup {
    display: flex;
    align-items: center;
}

.navbar .navbar-3 .location-popup svg {
    fill: #3a77ff;
    margin-right: .5rem;
}

.navbar .navbar-3 .location-popup span {
    font-size: .875rem;
    font-weight: 700;
}

.navbar .navbar-3 .location-popup img {
    height: 1rem;
    width: 1rem;
    margin-left: .5rem;
}

/* navbar res dropdown */

div.navbar-res-dropdown {
    position: fixed;
    width: 100%;
    top: 2.8125rem;
    background-color: #fff;
    z-index: 16;
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

div.navbar-res-dropdown.open {
    height: calc(100% - 2.8125rem);
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

body:has(div.navbar-res-dropdown.open) {
    overflow-y: hidden;
}

.navbar-res-dropdown .account {
    display: flex;
    padding: 1rem;
    border-bottom: .07rem solid #ced6d7;
}

.navbar-res-dropdown .account .account-img {
    max-width: 4rem;
    max-height: 4rem;
}

.navbar-res-dropdown .account .account-img img {
    width: 100%;
    height: auto;
}

.navbar-res-dropdown .account .account-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    font-size: .875rem;
}

.navbar-res-dropdown .account .account-detail span:last-of-type {
    text-decoration: underline;
    padding-top: .188rem; 
    cursor: pointer;   
}

.navbar-res-dropdown .items,
.navbar-res-dropdown .help {
    border-bottom: .07rem solid #ced6d7;
}

.navbar-res-dropdown .items a .item,
.navbar-res-dropdown .help a .help-item {
    display: flex;
    min-height: 2.8125rem;
    align-items: center;
    font-size: .9975rem;
    color: #002f34;
}

.navbar-res-dropdown .items a .item:hover,
.navbar-res-dropdown .help a .help-item:hover {
    background-color: #c8f8f6;
}

.navbar-res-dropdown .items a .item .image,
.navbar-res-dropdown .help a .help-item .image {
    max-width: 1.4375rem;
    max-height: 1.4375rem;
    margin: 0 1rem;
}

.navbar-res-dropdown .items a .item .image svg,
.navbar-res-dropdown .items a .item .image img,
.navbar-res-dropdown .help a .help-item .image img {
    width: 100%;
    height: auto;
}

.navbar-res-dropdown .btns .login-btn {
    padding: 1rem .5rem;
}

.navbar-res-dropdown .btns .create-acc {
    padding: 0 .5rem .5rem;
}

.navbar-res-dropdown .btns div button {
    background: none;
    border: none;
    border-radius: .25rem;
    height: 3rem;
    width: 100%;
    font-size: .9975rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
}

.navbar-res-dropdown .btns .login-btn button {
    background-color: #002f34;
    color: #fff;
}

.navbar-res-dropdown .btns .create-acc button {
    background-color: #fff;
    color: #002f34;
    border: .125rem solid #002f34;
}

.navbar-res-dropdown .btns .create-acc button:hover {
    border: .25rem solid #002f34
}

/* header */

header.header-res {
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 14;
    background-color: #fff;
    display: none;
}

.header-res .search-bar {
    height: 2.5rem;
    border: .1rem solid #002f34;
    border-radius: .4rem;
}

.header-res .search-bar .wrapper {
    display: flex;
    height: 100%;
}

.header-res .search-bar .wrapper .search-icon {
    display: flex;
    align-items: center;
    padding: 0 .75rem 0 .5rem;
}

.header-res .search-bar .wrapper .search-input {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.header-res .search-bar .wrapper .search-input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}

/* header sell btn */

.sell-btn-res {
    position: fixed;
    bottom: -5rem;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in-out;
    display: none;
}

.sell-btn-res button {
    border: none;
    background: none;
    padding: 0;
    position: relative;
}

.sell-btn-res button .sell-btn-res-border{
    width: 6.5rem;
    height: 3rem;
}

.sell-btn-res button div {
    position: absolute;
    top: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.sell-btn-res button div img {
    height: 1rem;
}

.sell-btn-res button div span {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(0, 47, 52);
}

/* popups */

/* login / signup popup */

div.popup-bg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
    z-index: 15;
}

div.login-popup,
div.signup-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* transform: scale(0); */
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

div.login-popup.open,
div.signup-popup.open {
    /* display: flex; */
    /* transform: scale(1); */
    opacity: 1;
    visibility: visible;
}

body:has(div.login-popup.open),
body:has(div.signup-popup.open) {
    overflow: hidden;
}

.login-popup .content-main,
.signup-popup .content-main {
    background-color: #fff;
    width: 25rem;
    border-radius: .25rem;
    max-height: 80%;
    overflow-y: scroll;
}

.login-popup .content-main button,
.signup-popup .content-main button {
    background: none;
    border: none;
    padding: 0;
}

.login-popup .content-main .cross,
.signup-popup .content-main .cross {
    text-align: end;
    position: fixed;
    width: 25rem;
    z-index: 2;
    background-color: #fff;
    border-radius: .25rem;
}

.login-popup .content-main .cross button,
.signup-popup .content-main .cross button {
    padding: 1rem 1rem 0;
}

.login-popup .content-main .content,
.signup-popup .content-main .content {
    padding: 1rem 1.5rem;
    margin-top: 2.5rem;
}

.login-popup .content-main .content .logo,
.signup-popup .content-main .content .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.login-popup .content-main .content .logo img,
.signup-popup .content-main .content .logo img {
    max-width: 4.7rem;
    max-height: 2.5rem;
    margin-bottom: 1rem;
} 

.login-popup .content-main .content .logo span,
.signup-popup .content-main .content .logo span {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.login-popup .content-main .content .btns,
.signup-popup .content-main .content .btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-popup .content-main .content .btns button,
.signup-popup .content-main .content .btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
    border: .125rem solid #002f34;
    border-radius: .25rem;
}

.login-popup .content-main .content .btns button:not(:last-of-type),
.signup-popup .content-main .content .btns button:not(:last-of-type) {
    margin-bottom: .5rem;
}

.login-popup .content-main .content .btns .or-span,
.signup-popup .content-main .content .btns .or-span {
    font-size: .875rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-popup .content-main .content .btns button img,
.login-popup .content-main .content .btns button svg,
.signup-popup .content-main .content .btns button img,
.signup-popup .content-main .content .btns button svg {
    margin-right: .5rem;
}

.login-popup .content-main .content .btns button span,
.signup-popup .content-main .content .btns button span {
    font-size: .9975rem;
    font-weight: 700;
}

.login-popup .content-main .content .create-acc,
.signup-popup .content-main .content .create-acc {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-popup .content-main .content .create-acc button,
.signup-popup .content-main .content .create-acc button {
    color: #3a77ff;
    font-weight: 700;
    padding: 0.06rem .375rem 1rem;
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.signup-popup .content-main .content .pri-pol {
    margin-top: 1rem;
    font-size: .875rem;
    text-align: center;
    color: #23262A;
}

.signup-popup .content-main .content .pri-pol span a {
    font-weight: 700;
    text-decoration: underline;
}

/* header res search bar popup */

div.search-bar-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden;
    opacity: 0; */
    transition: all .3s ease-in-out;
    display: none;
}

div.search-bar-popup.open {
    /* opacity: 1;
    visibility: visible; */
}

body:has(div.search-bar-popup.open) {
    overflow: hidden;
}

.search-bar-popup .content-main {
    background-color: #fff;
    width: 25rem;
    border-radius: .25rem;
    max-height: 80%;
    overflow-y: scroll;
}

.search-bar-popup .content-main .header {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f8f8;
    width: 25rem;
    position: fixed;
    border-radius: .25rem .25rem 0 0;
    z-index: 2;
}

.search-bar-popup .content-main .header .back-arrow,
.search-bar-popup .content-main .header .search-btn {
    display: flex;
}

.search-bar-popup .content-main .header .search-btn button {
    background: none;
    border: none;
    padding: 0;
    font-size: .9975rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    border-bottom: .125rem solid #002f34;
    color: #002f34;
}

.search-bar-popup .content-main .content {
    margin-top: 4.5rem;
}

.search-bar-popup .content-main .content .search {
    display: flex;
    margin: 0 .5rem;
    border: .06rem solid #002f34;
    border-radius: .25rem;
    padding: .407rem 0;
    background-color: #fff;
}

.search-bar-popup .content-main .content .search .search-icon {
    padding-left: .5rem;
    display: flex;
}

.search-bar-popup .content-main .content .search input {
    background: none;
    border: none;
    margin-left: .75rem;
}

/* scroll to top button */

button.to-top-btn {
    position: fixed;
    top: 8.9rem;
    left: 50%;
    height: 2.5rem;
    width: 9rem;
    transform: translateX(-50%);
    display: none;
    z-index: 11;
    font-size: .875rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    color: #002f34;
    background-color: #fff;
    border: .1rem solid #002f34;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

button.to-top-btn svg {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    fill: #002f34;
}

/* category navbar */

div.category-navbar {
    padding: 1rem 1.2rem .8rem;
    border-top: .1rem solid #d8dfe0;
}

.category-navbar .categories {
    max-width: 1280px;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin: 0 auto;
    position: relative;
}

.category-navbar .categories .category-1 {
    display: flex;
    align-items: center;
}

.category-navbar .categories .category-1 .c1-a {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.category-navbar .categories .category-1 .c1-a div {
    display: flex;
    margin-left: .5rem;
}

.category-navbar .categories .category-1 .c1-a div img {
    height: 1rem;
    transition: all 0.2s ease-in-out;
}

.category-navbar .categories a {
    font-size: 0.875rem;
    color: #002F34;
}

/* all category menu dropdown */

.category-navbar .categories .category-1 .all-category-menu {
    position: absolute;
    top: 1.3rem;
    display: flex;
    width: 100%;
    /* max-width: 1280px;
    min-width: 999px; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    padding: .8rem 10rem 1.6rem 1.6rem;
    justify-content: space-between;
    column-gap: 2rem;
    z-index: 10;
    background-color: #fff;
    display: none;

    /* position: absolute;
    top: 1.3rem;
    display: flex;
    max-width: 1280px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    padding: .8rem 6rem 1.6rem 1.6rem;
    justify-content: flex-start;
    column-gap: 13rem; */
}

.category-navbar .categories .category-1 .all-category-menu.open {
    display: flex;
}

.category-navbar .categories .category-1 .all-category-menu .all-c-heading {
    font-weight: 700;
    margin: 1rem 0;
}

.category-navbar .categories .category-1 .all-category-menu div {
    margin: .4rem 0;
    min-width: max-content;
}

.category-navbar .categories .category-1 .all-category-menu .all-c-2 {
    padding-left: 5rem;
}

.category-navbar .categories .category-1 .all-category-menu .all-c-3 {
    padding-left: 3rem;
}

/* slider */

div.slider {
    max-width: 1280px;
    margin: 1rem auto;
}

.slider .autoplay .slider-image a img {
    width: 100%;
}

/* Advertise */

div.advertise {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

div.advertise img {
    max-width: 100%;
    height: auto;
}

/* All category */

div.all-category {
    max-width: 1280px;
    margin: 0 auto 2.5rem;
}

.all-category .heading-div {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.all-category .items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.547rem;
    row-gap: 1.313rem;
}

.all-category .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 6.625rem;
}

.all-category .items .item .item-img {
    max-height: 5.5rem;
    max-width: 5.5rem;
    margin: 0 0.5625rem;
}

.all-category .items .item .item-img img {
    width: 100%;
    height: auto;
}

.all-category .items .item .item-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #222222;
    margin-top: .5rem;
}

/* Day 14 / 6 / 24 */

/* cards */

div.cards {
    max-width: 1280px;
    margin: .5rem auto 4rem;
}

/* mob cards */

.cards .mob-cards-main {
    margin-bottom: 1.5rem;
}

.cards .mob-cards-main .mob-heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.2rem;
}

.cards .mob-cards-main .mob-heading .heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.cards .mob-cards-main .mob-heading .view-more-btn {
    display: flex;
    align-items: flex-end;
}

.cards .mob-cards-main .mob-heading .view-more-btn a {
    color: #3a77ff;
    font-size: .9975rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cards .mob-cards-main .mob-heading .view-more-btn a svg {
    fill: #3a77ff;
    margin-left: .625rem;
}

.cards .mob-cards-main .mob-cards {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden
}

.cards .mob-cards-main .mob-cards .mob-card {
    max-width: 18.75rem;
    border-radius: .4rem;
    border: .1rem solid rgba(0, 47, 52, .2);
    flex: 0 0 auto;
}

.cards .mob-cards-main .mob-cards .mob-card a .image {
    height: 45.3%;
    /* max-height: 9.6875rem; */
}

.cards .mob-cards-main .mob-cards .mob-card a .image img {
    width: 100%;
    height: 100%;
    /* height: auto; */
    /* max-height: 9.6875rem; */
    border-radius: .4rem .4rem 0 0;
}

.cards .mob-cards-main .mob-cards .mob-card a .text {
    padding: 1rem 1rem 1.2rem;
    color: #002f34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100% - 10.7rem); */
    height: 55.7%;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .price {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .price .amount {
    font-size: 1rem;
    font-weight: 700;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .price .heart i {
    font-size: 1.5rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3125rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .gap {
    height: 1.2rem;
    width: 100%;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .location {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    color: #406367;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .location .place {
    font-size: .875rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .location .time {
    font-size: .75rem;
}

/* house .cards */

.cards .house-cards-main {
    margin-bottom: 1.5rem;
}

.cards .house-cards-main .house-heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.2rem;
}

.cards .house-cards-main .house-heading .heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.cards .house-cards-main .house-heading .view-more-btn {
    display: flex;
    align-items: flex-end;
}

.cards .house-cards-main .house-heading .view-more-btn a {
    color: #3a77ff;
    font-size: .9975rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cards .house-cards-main .house-heading .view-more-btn a svg {
    fill: #3a77ff;
    margin-left: .625rem;
}

.cards .house-cards-main .house-cards {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden
}

::-webkit-scrollbar {
    display: none;
}

.cards .house-cards-main .house-cards .house-card {
    max-width: 18.75rem;
    border-radius: .4rem;
    border: .1rem solid rgba(0, 47, 52, .2);
    flex: 0 0 auto;
}

.cards .house-cards-main .house-cards .house-card a .image {
    /* max-height: 9.6875rem; */
    height: 45.3%;
}

.cards .house-cards-main .house-cards .house-card a .image img {
    width: 100%;
    height: 100%;
    /* height: auto; */
    /* max-height: 9.6875rem; */
    border-radius: .4rem .4rem 0 0;
}

.cards .house-cards-main .house-cards .house-card a .text {
    padding: 1rem 1rem 1.2rem;
    color: #002f34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100% - 12.665rem); */
    height: 55.7%;
}

.cards .house-cards-main .house-cards .house-card a .text .price {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .price .amount {
    font-size: 1rem;
    font-weight: 700;
}

.cards .house-cards-main .house-cards .house-card a .text .price .heart i {
    font-size: 1.5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3125rem;
}

.cards .house-cards-main .house-cards .house-card a .text .gap {
    height: 1.2rem;
    width: 100%;
}

.cards .house-cards-main .house-cards .house-card a .text .location {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    color: #406367;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details{
    font-weight: 700;
    font-size: .75rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details .items {
    display: flex;
    column-gap: .5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details .items .item {
    display: flex;
    align-items: center;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details svg {
    height: 0.875rem;
    width: .875rem;
    fill: #406367;
    margin-right: .5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .place {
    font-size: .875rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .time {
    font-size: .75rem;
}

/* advertise 2 */

div.advertise-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

div.advertise-2 img {
    max-width: 100%;
    height: auto;
}

/* advertise 3 */

div.advertise-3-main {
    width: 100%;
    /* height: 12.5rem; */
    background: rgba(0, 47, 52, .03);
}

.advertise-3-main .advertise-3 {
    /* max-width: 1329px;
    margin: 0 auto; */
    display: flex;
    justify-content: center;
}

.advertise-3-main .advertise-3 .image-1 img {
    height: 100%;
    width: 100%;
}

.advertise-3-main .advertise-3 .image-2 {
    display: flex;
}

.advertise-3-main .advertise-3 .image-2 .text {
    padding-left: 2.75rem;
}

.advertise-3-main .advertise-3 .image-2 .text .first-heading {
    margin: 1.75rem 0 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.advertise-3-main .advertise-3 .image-2 .text .last-heading {
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 25rem;
}

.advertise-3-main .advertise-3 .image-2 .border {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 2rem 0 1rem;
}

.advertise-3-main .advertise-3 .image-2 .border .br {
    border-right: 2px solid rgba(0, 47, 52, 0.2);
    height: 70%;
}

.advertise-3-main .advertise-3 .image-3 {
    align-content: center;
}

.advertise-3-main .advertise-3 .image-3 .text {
    margin-bottom: .75rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.advertise-3-main .advertise-3 .image-3 .buttons {
    display: flex;
    column-gap: .5rem;
}

.advertise-3-main .advertise-3 .image-3 .buttons a {
    max-width: 8rem;
    display: block;
}

.advertise-3-main .advertise-3 .image-3 .buttons a img {
    width: 100%;
}

/* Day 20 / 6 / 24 */
/* footer */

div.footer {
    border-top: .1rem solid rgba(0, 47, 52, .2);
    z-index: 2;
    position: relative;
}

/* footer 1 */

div.footer .footer-1 {
    width: 100%;
    background-color: #ebeeef;
    padding: 1rem 0 4rem;
}

.footer .footer-1 .footer-1-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.footer .footer-1 .footer-1-wrapper .item{
    flex: 1;
}

.footer .footer-1 .footer-1-wrapper .item span {
    font-size: .875rem;
    font-weight: 700;
}

.footer .footer-1 .footer-1-wrapper .item ul {
    list-style: none;
    padding: 0;
    margin: .8rem 0 0;
}
.footer .footer-1 .footer-1-wrapper .item ul li a {                  
    color: rgba(0, 47, 52, .64);
    font-size: .7525rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links {
    display: flex;
    justify-content: flex-start;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links a {
    margin-right: .5rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links a.last-a {
    margin-right: 0;
}
            
.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links a img {
    height: 1.5rem;
    width: 1.5rem;
}       

.footer .footer-1 .footer-1-wrapper .item.follow-us .download-btns {
    display: flex;
    column-gap: .5rem;
    margin-top: 2.125rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .download-btns a {
    display: block;
    max-width: 5.25rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .download-btns a img {
    width: 100%;
}

/* footer 1 accordion */

div.footer .footer-1-accordion {
    display: none;
}

div.footer .footer-1-accordion .accordion-item {
    border-bottom: .1rem solid rgba(0, 47, 52, .2);
}

div.footer .footer-1-accordion .accordion-item .accordion-title {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

div.footer .footer-1-accordion .accordion-item .accordion-title .heading {
    font-size: .9975rem;
}

div.footer .footer-1-accordion .accordion-item .accordion-title .arrow {
    display: flex;
    align-items: center;
}

div.footer .footer-1-accordion .accordion-item .accordion-title .arrow svg {
    height: .9375rem;
    width: .9375rem;
    fill: #002f34;
}

div.footer .footer-1-accordion .accordion-item .accordion-text {
    display: none;
}

/* nested 1 accordion-item title */

div.footer .footer-1-accordion .accordion-item .accordion-text 
.accordion-item {
    border-bottom: none;
}

div.footer .footer-1-accordion .accordion-item .accordion-text 
.accordion-item .accordion-title {
    padding-left: 2rem;
    border-top: .1rem solid rgba(0, 47, 52, .2);
}

/* end nested 1 accordion-item title */

/* nested 2 accordion-item title */

div.footer .footer-1-accordion .accordion-item .accordion-text 
.accordion-item .accordion-text 
.accordion-item .accordion-title {
    padding-left: 3rem;
}

/* end nested 2 accordion-item title */

div.footer .footer-1-accordion .accordion-item .accordion-text ul {
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
    background-color: #ebeeef;
}

div.footer .footer-1-accordion .accordion-item .accordion-title.open ~ .accordion-text {
    display: block;
}

div.footer .footer-1-accordion .accordion-item .accordion-title.open .arrow svg {
    transform: rotate(90deg);
}

div.footer .footer-1-accordion .accordion-item .accordion-text ul li {
    font-size: .875rem;
}

div.footer .footer-1-accordion .accordion-item .accordion-text ul li:not(:last-of-type) {
    margin-bottom: .625rem;
}

.footer .footer-1-accordion .follow-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: .9975rem;
}

.footer .footer-1-accordion .follow-us .account-links {
    display: flex;
    column-gap: .5rem;
}

.footer .footer-1-accordion .follow-us .account-links a {
    display: flex;
    align-items: center;
}

.footer .footer-1-accordion .follow-us .account-links a img {
    height: 1.5rem;
    width: 1.5rem;
}

div.footer .footer-1-accordion .download-btns {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    border-top: .18rem solid rgba(0, 47, 52, .2);
}

div.footer .footer-1-accordion .download-btns a {
    display: block;
    max-width: 5.25rem;
}

div.footer .footer-1-accordion .download-btns a img {
    width: 100%;
}

/* footer 2 */

div.footer .footer-2 {
    width: 100%;
    background-color: #002F34;
    padding: 1rem 0;
}

.footer .footer-2 .footer-2-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
    font-size: .7525rem;
    font-weight: 700;
    text-align: right;
}

.footer .footer-2 .footer-2-wrapper span {
    margin-right: .5rem;
}



@media screen and (max-width: 1379px) {

    /* for navbar */

    nav.navbar {
        position: relative;
    }

    /* for navbar 1 */

    .navbar .navbar-1 {
        padding: .4rem 0 0 .875rem;
        max-width: 100%;
        margin: 0 0 1rem;
    }  

    .navbar .navbar-1 .item {
        margin-right: 1.5rem;
    }

    .navbar .navbar-1 .item.hamburger {
        display: flex;
    }

    /* for navbar 2 */

    .navbar .navbar-2 {
        display: none;
    }  

    /* for navbar 3 */

    .navbar .navbar-3 {
        display: block;
    }  

    /* for header */

    header.header-res {
        display: block;
    }

    /* for sell btn res */

    .sell-btn-res {
        bottom: 1rem;
        display: block;
    }

    
    /* for category navbar */

    div.category-navbar {
        display: none;
    }

    /* for scroll to top btn */

    button.to-top-btn {
        display: none !important;
    }

    /* for advertise */

    div.advertise {
        max-width: 96%;
        margin: 0 2% 1rem;
    }

    /* for all category */

    div.all-category {
        max-width: 96%;
        margin: 0 2% 2.5rem;
    }

    .all-category .items {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        column-gap: 1rem;
    }

    .all-category .items a {
        flex: 0 0 auto;
    }

    /* for cards */

    div.cards {
        max-width: 96%;
        margin: .5rem 2% 4rem;
    }

    /* for advertise 2 */

    div.advertise-2 {
        max-width: 96%;
        margin: 0 2% 1rem;
    }

    /* For abdvertise 3 */

    .advertise-3-main {
        display: none;
    }

    /* .advertise-3-main .advertise-3 .image-2 .text {
        display: none;
    } */


    /* for footer 1 */

    div.footer .footer-1 {
        display: none;
    }

    /* for footer 1 accordion */

    div.footer .footer-1-accordion {
        display: block;
    }


    /* for footer 2 */

    .footer .footer-2 .footer-2-wrapper {
       text-align: center;
    }
} 




@media screen and (max-width: 949px) {

    /* for login / signup popup */

    div.login-popup, div.signup-popup {
        transition: none;
    }

    .login-popup .content-main,
    .signup-popup .content-main {
        width: 100vw;
        height: 100vh;
        max-height: 100%;
        border-radius: 0;
    }

    .login-popup .content-main .cross,
    .signup-popup .content-main .cross {
        width: 100%;
        border-radius: 0;
    }

    /* res sell btn */

    .sell-btn-res button {
        background: #fff;
        border-radius: 2rem;
        height: 2.5rem;
        width: 5.6rem;
    }

    .sell-btn-res button .sell-btn-res-border{
        width: auto;
        height: 2.5rem;
    }

    .sell-btn-res button div {
        height: 2.5rem;
    }
}

/* for navbar 1 */

@media screen and (max-width: 390px) {
    .navbar .navbar-1 .item {
        margin-right: .7rem;
    }

    .navbar .navbar-1 .item.hamburger i {
        font-size: 1rem;
    }

    .navbar .navbar-1 .olx-symbol svg {
        height: 1.5rem;
    }

    .navbar .navbar-1 .category .category-div {
        column-gap: .3rem;
    }

    .navbar .navbar-1 .category .category-div .category-image {
        height: 2rem;
        width: 2rem;
        padding: .35rem;
    }

    .navbar .navbar-1 .category .category-div .category-image svg {
        height: 1.3rem;
        width: 1.3rem;
    }
}