/* Day 11 / 6 / 24 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
    /* letter-spacing: normal;
    font-size: 1.372rem;
    line-height: 1.5495; */
    color: #002f34;
}

a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* navbar 1 */

.navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 6;
    border-bottom: 0 solid #f2f4f5;
}

.navbar .navbar-1 {
    max-width: 1280px;
    /* transition: max-width .25s ease-in;  */
    padding-top: 1rem;
    margin: 0 auto .5rem;
    display: flex;
    align-items: center;
}

.navbar .navbar-1 .item {
    margin-right: 2.5rem;
    display: flex;
    height: 2.5rem;
}

.navbar .navbar-1 .olx-symbol {
    display: flex;
    align-items: center;
}

.navbar .navbar-1 .olx-symbol svg {
    /* width: 5.6rem; */
    height: 2rem;
    fill: #002f34;
}

.navbar .navbar-1 .category .category-div {
    column-gap: 0.5rem;
    color: #002f34;
    fill: #002f34;
    display: flex;
    align-items: center;
}

.navbar .navbar-1 .category .category-div:hover {
    color: #3a77ff;
}

.navbar .navbar-1 .category .category-div:hover .category-image {
    background: #ebf1ff;
}

.navbar .navbar-1 .category .category-div:hover svg {
    fill: #3a77ff;
}

.navbar .navbar-1 .category .category-div .category-image {
    width: 2.5rem;
    height: 2.5rem;
    background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));
    border-radius: 50%;
    padding: .5rem;
}

.navbar .navbar-1 .category .category-div .category-image svg {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar .navbar-1 .category .category-div .category-span {
    font-weight: 700;
    font-size: 0.99rem;
    height: 1.25rem;
}

/* navbar 2 Day 12 / 6 / 24 */

.navbar .navbar-2 {
    max-width: 1280px;
    height: 4.75rem;
    margin: 0 auto;
    display: flex;
    padding: .7rem 0 1rem;
}

/* location dropdown */

.navbar .navbar-2 .location-dropdown {
    width: 18.875rem;
    max-width: 18.875rem;
    /* height: 2.875rem; */
    color: rgb(0, 47, 52);
    font-size: .875rem;
    position: relative;
    margin-right: 1rem;
}

.navbar .navbar-2 .location-dropdown .image {
    position: absolute;
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    fill: #002f34;
}

.navbar .navbar-2 .location-dropdown input {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(216, 223, 224);
    border-radius: 4px;
    outline: none;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(0, 47, 52);
    font-size: 0.9975rem;
    padding: 0 2.5rem 0 2.7rem;
}

.navbar .navbar-2 .location-dropdown input:focus {
    border: .1rem solid #23e5db;
}


.navbar .navbar-2 .location-dropdown .button {
    width: fit-content;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    fill: #002f34;
}

.navbar .navbar-2 .location-dropdown .button svg {
    height: 24px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12), 0 6px 6px 0 rgba(0, 0, 0, .24);
    height: 9.11rem;
    margin-top: 0.1rem;
    display: none;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu.open {
    display: block;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb {
    border-bottom: .01rem solid #ced6d7;
    border-radius: 4px 4px 0 0;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb .item-1 {
    display: flex;
    padding: 1.5rem 1rem;
    column-gap: .5rem;
    color: #3a77ff;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb .item-1 .item-1-text .span-1 {
    font-weight: 700;
    font-size: .9975rem;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb .item-1 .item-1-text .span-2 {
    padding-top: .3rem;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-1-bb:hover,
.navbar .navbar-2 .location-dropdown .dropdown-menu .item-2:hover {
    background-color: #c8f8f6;
    cursor: pointer;
}

.navbar .navbar-2 .location-dropdown .dropdown-menu .item-2 {
    display: flex;
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    fill: #5c7a7d;
    column-gap: .5rem;
    color: #002F34;
    align-items: center;
}

/* search bar */

.navbar .navbar-2 .search {
    width: 47.9rem;
    /* height: 2.875rem; */
    position: relative;
}

.navbar .navbar-2 .search input {
    width: 100%;
    height: 100%;
    padding: 0 3.1rem 0 .75rem;
    outline: none;
    border: 1px solid #d8dfe0;
    border-radius: 4px;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 0.9975rem;
    color: #002f34;
}

.navbar .navbar-2 .search input::placeholder {
    color: #757575;
}

.navbar .navbar-2 .search input:focus {
    border: .1rem solid #23e5db;
}

.navbar .navbar-2 .search button {
    background: none;
    border: none;
    background-color: #002f34;
    height: 3.05rem;
    width: 3rem;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
}

.navbar .navbar-2 .search button svg {
    fill: #fff;
}

/* login btn */

.navbar .navbar-2 .login-btn {
    display: flex;
    margin-left: 2rem;
    align-items: center;
}

.navbar .navbar-2 .login-btn a {
    color: rgb(0, 47, 52);
    font-weight: 700;
    border-bottom: 2px solid;
}

/* Day 13 / 6 / 24 */

/* Sell btn */

.navbar .navbar-2 .sell-btn {
    margin-left: 1.25rem;
}

.navbar .navbar-2 .sell-btn button {
    border: none;
    background: none;
    padding: 0;
    position: relative;
}

.navbar .navbar-2 .sell-btn button div {
    position: absolute;
    top: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.navbar .navbar-2 .sell-btn button div img {
    height: 1rem;
}

.navbar .navbar-2 .sell-btn button div span {
    font-size: 0.875rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    color: rgb(0, 47, 52);
}

/* scroll to top button */

button.to-top-btn {
    position: fixed;
    top: 8.9rem;
    left: 50%;
    height: 2.5rem;
    width: 9rem;
    transform: translateX(-50%);
    display: none;
    z-index: 11;
    font-size: .875rem;
    font-weight: 700;
    font-family: Roboto, Helvetica, sans-serif;
    color: #002f34;
    background-color: #fff;
    border: .1rem solid #002f34;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

button.to-top-btn svg {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    fill: #002f34;
}

/* category navbar */

div.category-navbar {
    padding: 1rem 1.2rem .8rem;
    border-top: .1rem solid #d8dfe0;
}

.category-navbar .categories {
    max-width: 1280px;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    margin: 0 auto;
    position: relative;
}

.category-navbar .categories .category-1 {
    display: flex;
    align-items: center;
}

.category-navbar .categories .category-1 .c1-a {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.category-navbar .categories .category-1 .c1-a div {
    display: flex;
    margin-left: .5rem;
}

.category-navbar .categories .category-1 .c1-a div img {
    height: 1rem;
    transition: all 0.2s ease-in-out;
}

.category-navbar .categories a {
    font-size: 0.875rem;
    color: #002F34;
}

/* all category menu dropdown */

.category-navbar .categories .category-1 .all-category-menu {
    position: absolute;
    top: 1.3rem;
    display: flex;
    width: 100%;
    /* max-width: 1280px;
    min-width: 999px; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    padding: .8rem 10rem 1.6rem 1.6rem;
    justify-content: space-between;
    column-gap: 2rem;
    z-index: 10;
    background-color: #fff;
    display: none;

    /* position: absolute;
    top: 1.3rem;
    display: flex;
    max-width: 1280px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    padding: .8rem 6rem 1.6rem 1.6rem;
    justify-content: flex-start;
    column-gap: 13rem; */
}

.category-navbar .categories .category-1 .all-category-menu.open {
    display: flex;
}

.category-navbar .categories .category-1 .all-category-menu .all-c-heading {
    font-weight: 700;
    margin: 1rem 0;
}

.category-navbar .categories .category-1 .all-category-menu div {
    margin: .4rem 0;
    min-width: max-content;
}

.category-navbar .categories .category-1 .all-category-menu .all-c-2 {
    padding-left: 5rem;
}

.category-navbar .categories .category-1 .all-category-menu .all-c-3 {
    padding-left: 3rem;
}

/* slider */

div.slider {
    max-width: 1280px;
    margin: 1rem auto;
}

/* Advertise */

div.advertise {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

div.advertise img {
    max-width: 100%;
    height: auto;
}

/* All category */

div.all-category {
    max-width: 1280px;
    margin: 0 auto 2.5rem;
}

.all-category .heading-div {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.all-category .items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2.547rem;
    row-gap: 1.313rem;
}

.all-category .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 6.625rem;
}

.all-category .items .item .item-img {
    max-height: 5.5rem;
    max-width: 5.5rem;
    margin: 0 0.5625rem;
}

.all-category .items .item .item-img img {
    width: 100%;
    height: auto;
}

.all-category .items .item .item-text {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #222222;
    margin-top: .5rem;
}

/* Day 14 / 6 / 24 */

/* cards */

div.cards {
    max-width: 1280px;
    margin: .5rem auto 4rem;
}

/* mob cards */

.cards .mob-cards-main {
    margin-bottom: 1.5rem;
}

.cards .mob-cards-main .mob-heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.2rem;
}

.cards .mob-cards-main .mob-heading .heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.cards .mob-cards-main .mob-heading .view-more-btn {
    display: flex;
    align-items: flex-end;
}

.cards .mob-cards-main .mob-heading .view-more-btn a {
    color: #3a77ff;
    font-size: .9975rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cards .mob-cards-main .mob-heading .view-more-btn a svg {
    fill: #3a77ff;
    margin-left: .625rem;
}

.cards .mob-cards-main .mob-cards {
    display: flex;
    /* column-gap: 1.666rem; */
    justify-content: space-between;
}

.cards .mob-cards-main .mob-cards .mob-card {
    max-width: 18.75rem;
    border-radius: .4rem;
    border: .1rem solid rgba(0, 47, 52, .2);
}

/* .cards .mob-cards-main .mob-cards .mob-card a .image {
    max-height: 9.6875rem;
} */

.cards .mob-cards-main .mob-cards .mob-card a .image img {
    width: 100%;
    height: auto;
    /* max-height: 9.6875rem; */
    border-radius: .4rem .4rem 0 0;
}

.cards .mob-cards-main .mob-cards .mob-card a .text {
    padding: 1rem 1rem 1.2rem;
    color: #002f34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 10.7rem);
}

.cards .mob-cards-main .mob-cards .mob-card a .text .price {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .price .amount {
    font-size: 1rem;
    font-weight: 700;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .price .heart i {
    font-size: 1.5rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3125rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .gap {
    height: 1.2rem;
    width: 100%;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .location {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    color: #406367;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .location .place {
    font-size: .875rem;
}

.cards .mob-cards-main .mob-cards .mob-card a .text .location .time {
    font-size: .75rem;
}

/* house .cards */

.cards .house-cards-main {
    margin-bottom: 1.5rem;
}

.cards .house-cards-main .house-heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1.2rem;
}

.cards .house-cards-main .house-heading .heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.cards .house-cards-main .house-heading .view-more-btn {
    display: flex;
    align-items: flex-end;
}

.cards .house-cards-main .house-heading .view-more-btn a {
    color: #3a77ff;
    font-size: .9975rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.cards .house-cards-main .house-heading .view-more-btn a svg {
    fill: #3a77ff;
    margin-left: .625rem;
}

.cards .house-cards-main .house-cards {
    display: flex;
    /* column-gap: 1.666rem; */
    justify-content: space-between;
}

.cards .house-cards-main .house-cards .house-card {
    max-width: 18.75rem;
    border-radius: .4rem;
    border: .1rem solid rgba(0, 47, 52, .2);
}

/* .cards .house-cards-main .house-cards .house-card a .image {
    max-height: 9.6875rem;
} */

.cards .house-cards-main .house-cards .house-card a .image img {
    width: 100%;
    height: auto;
    /* max-height: 9.6875rem; */
    border-radius: .4rem .4rem 0 0;
}

.cards .house-cards-main .house-cards .house-card a .text {
    padding: 1rem 1rem 1.2rem;
    color: #002f34;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 12.665rem);
}

.cards .house-cards-main .house-cards .house-card a .text .price {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .price .amount {
    font-size: 1rem;
    font-weight: 700;
}

.cards .house-cards-main .house-cards .house-card a .text .price .heart i {
    font-size: 1.5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .detail {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3125rem;
}

.cards .house-cards-main .house-cards .house-card a .text .gap {
    height: 1.2rem;
    width: 100%;
}

.cards .house-cards-main .house-cards .house-card a .text .location {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    color: #406367;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details{
    font-weight: 700;
    font-size: .75rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details .items {
    display: flex;
    column-gap: .5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details .items .item {
    display: flex;
    align-items: center;
}

.cards .house-cards-main .house-cards .house-card a .text .location .house-details svg {
    height: 0.875rem;
    width: .875rem;
    fill: #406367;
    margin-right: .5rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .place {
    font-size: .875rem;
}

.cards .house-cards-main .house-cards .house-card a .text .location .time {
    font-size: .75rem;
}

/* advertise 2 */

div.advertise-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

div.advertise-2 img {
    max-width: 100%;
    height: auto;
}

/* advertise 3 */

div.advertise-3-main {
    width: 100%;
    height: 12.5rem;
    background: rgba(0, 47, 52, .03);
}

.advertise-3-main .advertise-3 {
    max-width: 1329px;
    margin: 0 auto;
    display: flex;
}

.advertise-3-main .advertise-3 .image-2 {
    display: flex;
}

.advertise-3-main .advertise-3 .image-2 .text {
    padding: 0 1rem 0 2.75rem;
}

.advertise-3-main .advertise-3 .image-2 .text .first-heading {
    margin: 1.75rem 0 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.advertise-3-main .advertise-3 .image-2 .text .last-heading {
    font-size: 1.25rem;
    line-height: 1.875rem;
    max-width: 25rem;
}

.advertise-3-main .advertise-3 .image-2 .border {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.advertise-3-main .advertise-3 .image-2 .border .br {
    border-right: 2px solid rgba(0, 47, 52, 0.2);
    height: 70%;
}

.advertise-3-main .advertise-3 .image-3 .text {
    margin: 3.75rem 0 .75rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.advertise-3-main .advertise-3 .image-3 .buttons {
    display: flex;
    column-gap: .5rem;
}

.advertise-3-main .advertise-3 .image-3 .buttons a {
    max-width: 8rem;
    display: block;
}

.advertise-3-main .advertise-3 .image-3 .buttons a img {
    width: 100%;
}

/* Day 20 / 6 / 24 */
/* footer */

div.footer {
    border-top: 1px solid rgba(0, 47, 52, .2);
}

/* footer 1 */

div.footer .footer-1 {
    width: 100%;
    background-color: #ebeeef;
    padding: 1rem 0 4rem;
}

.footer .footer-1 .footer-1-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.footer .footer-1 .footer-1-wrapper .item{
    flex: 1;
}

.footer .footer-1 .footer-1-wrapper .item span {
    font-size: .875rem;
    font-weight: 700;
}

.footer .footer-1 .footer-1-wrapper .item ul {
    list-style: none;
    padding: 0;
    margin: .8rem 0 0;
}
.footer .footer-1 .footer-1-wrapper .item ul li a {                  
    color: rgba(0, 47, 52, .64);
    font-size: .7525rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links {
    display: flex;
    justify-content: flex-start;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links a {
    margin-right: .5rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links a.last-a {
    margin-right: 0;
}
            
.footer .footer-1 .footer-1-wrapper .item.follow-us .account_links a img {
    height: 1.5rem;
    width: 1.5rem;
}       

.footer .footer-1 .footer-1-wrapper .item.follow-us .download-btns {
    display: flex;
    column-gap: .5rem;
    margin-top: 2.125rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .download-btns a {
    display: block;
    max-width: 5.25rem;
}

.footer .footer-1 .footer-1-wrapper .item.follow-us .download-btns a img {
    width: 100%;
}


/* footer 2 */

div.footer .footer-2 {
    width: 100%;
    background-color: #002F34;
    padding: 1rem 0;
}

.footer .footer-2 .footer-2-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    color: #fff;
    font-size: .7525rem;
    font-weight: 700;
    text-align: right;
}

.footer .footer-2 .footer-2-wrapper span {
    margin-right: .5rem;
}